<div class="col-xs-12" ng-controller="QueryFormController as queryFormVm">

    <modal-dialog show='downloadModalShown' dialog-title='Download Results' height='300px' width='70%'>
        <div>
	        <p>The download feature allows users to obtain all results of queries in an archive containing data as comma-separated values, citation information for each
	        dataset, and a README containing information about the query.  For all data downloads, please see the citation and data usage file in the download bundle.
        </div>

        <div ng-show='downloadButtonShown' class="form-group">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary" ng-click="vm.downloadCsv()">Download</span></button>
                </div>
                <div class="col-xs-9">
    	        	<label class="hidden-xs information-text">
				    Press download button to commence download.  Downloaded file may take up to 1 minute to process.  Larger numbers of results take longer to process.
			        </label>
                </div>
	    </div>        
    </modal-dialog>

    <!-- format for help documentation for each field -->
    <modal-dialog id='traiter' show='modalShown' dialog-title='{{modalType}}' height='300px' width='70%'>
	    <p ng-bind-html="modalText"></p>	
    </modal-dialog>

    <form method="POST" name="queryForm" validate>
        <div class="form form-horizontal">
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label" ng-click='toggleModal("Traits")' ng-click='toggleModal("Traits")'>Measurement</label>
                </div>

		        <div class="col-xs-9">
                    <select 
                        ng-options="key as value for (value,key) in queryFormVm.traits"
                        ng-model="queryFormVm.params.traits"
                           class="form-control input-sm" >
                        <option value="">-- Select Trait --</option>
                    </select>
               
                </div>	
            </div>
    
            <!--<div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">Unit</label>
  			        <a><i class="remove glyphicon glyphicon-info-sign glyphicon-white" ng-click='toggleModal("measurementUnit")'></i></a> 
                </div>
                <div class="col-xs-9">
                    <input class="form-control input-sm" ng-model="queryFormVm.params.measurementUnit" list="_measurementUnit" placeholder="--Select Unit--" name="measurementUnit" id="measurementUnit">
                    <datalist id="_measurementUnit"> 
                        <option ng-repeat="value in queryFormVm.measurementUnit" value="{{value}}" />                                        
                    </datalist>
                </div>                                                                                     
            </div>
	    -->
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label" ng-click='toggleModal("maxValue")'>Value</label>
                </div>
                <div class="col-xs-3">
                    <input class="form-control input-sm" ng-model="queryFormVm.params.minValue" name="minValue" id="minValue">                    
                </div> 
                <div class="col-xs-1">
                    to
                </div>
                <div class="col-xs-3">
                    <input class="form-control input-sm" ng-model="queryFormVm.params.maxValue" name="maxValue" id="maxValue">                    
                </div>                                                                                    
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label" ng-click='toggleModal("genus")'>Genus</label>
                </div>
                <div class="col-xs-9">
                    <input class="form-control input-sm" ng-model="queryFormVm.params.genus" list="_genus" placeholder="--Select Genus--" name="genus" id="genus">
                    <datalist id="_genus"> 
                        <option ng-repeat="value in queryFormVm.genus" value="{{value}}" />                                        
                    </datalist>
                </div>                                                                                     
            </div>


            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label" ng-click='toggleModal("ScientificName")'>ScientificName</label>
                </div>
                <div class="col-xs-9">
                    <input class="form-control input-sm" ng-model="queryFormVm.params.scientificName" list="_names" placeholder="--Select ScientificName--" name="scientificName" id="scientificName">
                    <datalist id="_names"> 
                        <option ng-repeat="value in queryFormVm.scientificName" value="{{value}}" />                                        
                    </datalist>
                </div>                                                                                     
            </div>
            

            <!--<div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label" ng-click='toggleModal("Source")'>Source</label>
                </div>
                <div class="col-xs-9">
                    <select ng-options="key as value for (key,value) in queryFormVm.dataSources"
                        ng-model="queryFormVm.params.source"
                           class="form-control input-sm" multiple>
                    </select>
                </div>
            </div>-->

            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label" ng-click='toggleModal("Year")'>Year</label>
                </div>
                <div class="col-xs-3">
                    <input class="form-control input-sm" ng-model="queryFormVm.params.fromYear" name="fromYear" id="fromYear">                    
                </div> 
                <div class="col-xs-1">
                    to
                </div>
                <div class="col-xs-3">
                    <input class="form-control input-sm" ng-model="queryFormVm.params.toYear" name="toYear" id="toYear">                    
                </div>                                                                                    
            </div>

        </div>
        <div class="form-group">
            <button type="submit" ng-click="queryFormVm.queryJson()" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span>Search</button>
            <!-- download menu -->
            <button type="submit" ng-click="toggleDownloadModal()" class="btn btn-success" ng-show="vm.queryResults.isSet && queryForm.$pristine">Download</button>
        </div>

</div>
        <div class="form-group">
			            
            <div class="col-xs-12" >
    	        <label class="hidden-xs information-text" >
            Queries are currently limited to 1000 records.        
            To retrieve a complete set of results, use the Download feature. Data on vertebrate traits is made accessible here based on inputs from 
            <a href='http://vertnet.org/' target='_blank'>Vertnet</a> and individual projects loaded
            through
            <a href='http://www.geome-db.org/' target='_blank'>GEOME</a>.
            The date of last refresh was Nov 16, 2020. 
            Citation details can be found in download packages as 
            well as the FuTRES Citation file (DRAFT IN PROGRESS). 
            Currently, this portal contains over 2 million records, most of them from VertNet.
		    <p></p>
			<img src='cyverselogo.png' align="left">
		    <i>Funding support was from the the National Science Foundation. 
                This site is made available for research purposes and the site 
                developers make no warranty or guarrantee for data contents. 
                Comments can be made by email to jdeck88@gmail.com</i>
    	         </label>
	   </div>
    </form>
</div>
