<div class="col-xs-12" ng-controller="QueryFormController as queryFormVm">

    <modal-dialog show='downloadModalShown' dialog-title='Download Results' height='300px' width='70%'>
        <div>
	<p>The download feature allows users to obtain all results of queries in an archive containing data as comma-separated values, citation information for each
	dataset, and a README containing information about the query.
        Currently, PEP725 download results are made available only to research partners of the global plant phenology data portal so if your result set contains
	PEP725 data you will be asked to provide an access key below.  For all data downloads, please see the citation and data usage file in the download bundle.
        </div>
        <div class="form form-horizontal">
            <div ng-show='verificationStep' class="form-group">
	        <p></p>&nbsp;&nbsp;&nbsp;&nbsp;Your data contains results from PEP725.  Enter your verification code in the box below in order to enable your download:
                <div class="col-xs-3">
                        <dlabel class="control-label">Verification Code</label>
                </div>
                <div class="col-xs-3">
                        <input ng-model="queryFormVm.params.verifyDownload" type="text" class="form-control input-sm"/>
                </div>
                <div class="col-xs-3">
                        <button type="button" class="btn btn-primary" ng-show='true' ng-click="verify()">Verify</span></button>
                </div>
	    </div>
            <div ng-show='downloadButtonShown' class="form-group">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary" ng-click="vm.downloadCsv()">Download</span></button>
                </div>
                <div class="col-xs-9">
    	        	<label class="hidden-xs information-text">
				Press download button to commence download.  Downloaded file may take up to 1 minute to process.  Larger numbers of results take longer to process.
			</label>
                </div>
	    </div>
        </div>
    </modal-dialog>

    <!-- format for help documentation for each field -->
    <modal-dialog id='traiter' show='modalShown' dialog-title='{{modalType}}' height='300px' width='70%'>
	    <p ng-bind-html="modalText"></p>	
    </modal-dialog>

    <form method="POST" name="queryForm" validate>
        <div class="form form-horizontal">
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label" >Traits</label>
  			<a><i class="remove glyphicon glyphicon-info-sign glyphicon-white" ng-click='toggleModal("Traits")'></i></a> 
                </div>

		<div class="col-xs-9">
                    <select ng-options="key as value for (value,key) in queryFormVm.traits"
                        ng-model="queryFormVm.params.traits"
                           class="form-control input-sm" required >
                        <option value="">-- Select Trait --</option>
                    </select>
                </div>	
                                <!--repeat="trait.value as (key, trait) in queryFormVm.traits | filter: {'key': $select.search} "-->
            </div>



            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">Genus</label>
  			<a><i class="remove glyphicon glyphicon-info-sign glyphicon-white" ng-click='toggleModal("Genus")'></i></a> 
                </div>
                <div class="col-xs-9">
                    <select ng-options="s for s in queryFormVm.genus"
                        ng-model="queryFormVm.params.genus"
                           class="form-control input-sm" required>
                        <option value="">-- Select Genus --</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">Species</label>
  			<a><i class="remove glyphicon glyphicon-info-sign glyphicon-white" ng-click='toggleModal("Species")'></i></a> 
                </div>
                <div class="col-xs-9">
                    <input ng-model="queryFormVm.params.specificEpithet" type="text"
                           class="form-control input-sm"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">Source</label>
			<a><i class="remove glyphicon glyphicon-info-sign glyphicon-white" ng-click='toggleModal("Source")'></i></a> 
                </div>
                <div class="col-xs-9">
                    <!--<select ng-options="key as value for (value,key) in queryFormVm.dataSources"-->
                    <select ng-options="key as value for (key,value) in queryFormVm.dataSources"
                        ng-model="queryFormVm.params.source"
                           class="form-control input-sm" multiple required>
                        <option value="">-- Select Source(s) --</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">Year</label>
  			<a><i class="remove glyphicon glyphicon-info-sign glyphicon-white" ng-click='toggleModal("Year")'></i></a> 
                </div>
                <div class="col-xs-9">
		    <rzslider class="custom-slider" rz-slider-model="queryFormVm.params.fromYear"
          		rz-slider-high="queryFormVm.params.toYear"
          		rz-slider-options="queryFormVm.year.options"></rzslider>	
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">Day of Year</label>
  			<a><i class="remove glyphicon glyphicon-info-sign glyphicon-white" ng-click='toggleModal("Day of Year")'></i></a> 
                </div>
                <div class="col-xs-9">
		    <rzslider class="custom-slider" rz-slider-model="queryFormVm.params.fromDay"
          		rz-slider-high="queryFormVm.params.toDay"
          		rz-slider-options="queryFormVm.day.options"></rzslider>	
                </div>
            </div>

        </div>
        <div class="form-group">
            <button type="submit" ng-click="queryFormVm.queryJson()" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span>Search</button>
            <!-- download menu -->
            <button type="submit" ng-click="toggleDownloadModal()" class="btn btn-success" ng-show="vm.queryResults.isSet && queryForm.$pristine">Download</button>
        </div>

</div>
        <div class="form-group">
			
            <!--<div class="col-xs-12">
	        <label class="label-warning">THIS SITE IS IN DEVELOPMENT!</label>
            </div>-->
            <div class="col-xs-12" >
    	        <label class="hidden-xs information-text" >
			Field data on plant phenology is made accessible here based on inputs from <a href='https://www.usanpn.org/' target='_blank'>USA-NPN</a>, <a href='http://www.pep725.eu/' target='_blank'>PEP725</a>, and <a href='http://www.neonscience.org/' target='_blank'>NEON</a> partners. Additional small sets of data including herbarium records (Prunus) and "image scoring" data from iNaturalist (Yucca and Hesperoyucca) are included as well. Incoming trait data is processed using the <a href='https://github.com/biocodellc/ppo-data-pipeline' target='_blank'>ppo-data-pipeline</a> with annotations from the <a href='https://github.com/PlantPhenoOntology/ppo' target='_blank'>plant phenology ontology</a> and data processing using the <a href='https://github.com/biocodellc/ontology-data-pipeline' target='_blank'>ontology-data-pipeline</a>.
		    <p></p>
		    USA-NPN, NEON, and PEP725 data is harvested yearly.  The date of last refresh was July 1, 2019. Citation details can be found in download packages as well as <a href="https://raw.githubusercontent.com/biocodellc/ppo-data-server/master/citation_and_data_use_policies.txt">the ppo-data-server citation file</a>. Currently, this portal contains over 20 million records, with 10 million PEP725 records, 9.5 million USA-NPN records, and 1.5 million NEON records.
		    <p></p>
			<img src='cyverselogo.png' align="left">
		    <i>Funding support was from the USGS NSF-SAVI Award Number 1321595, the National Ecological Observatory Network, and the USGS Powell Center. This site is made available for research purposes and the site developers make no warranty or guarrantee for data contents.  Comments can be made by email to jdeck88@gmail.com</i>
    	         </label>
	   </div>
    </form>
</div>
