.custom-slider.rzslider .rz-bar {
  #background: #ffe4d1;
    background-color: rgba(20, 126, 77, 1);
  height: 2px;
}
.custom-slider.rzslider .rz-selection {
#  background: orange;
    background-color: rgba(20, 126, 77, 1);

}

.custom-slider.rzslider .rz-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
      background-color: rgba(20, 126, 77, 1);
      #background-color: #86444f;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.custom-slider.rzslider .rz-pointer:after {
  display: none;
}

.custom-slider.rzslider .rz-bubble {
  bottom: 14px;
}

.custom-slider.rzslider .rz-limit {
  font-weight: normal;
  color: #dcd7d7;
}

.custom-slider.rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}

.custom-slider.rzslider .rz-tick.rz-selected {
  background: orange;
}
