<!DOCTYPE html>
<html>
  <head>
    <title>FuTRES Search</title>
    <link
      rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <script src="trait-viz/lib/elasticsearch.angular.js"></script>
    <script src="trait-viz/lib/elastic.js"></script>
    <script src="trait-viz/lib/elasticui.js"></script>

    <style>
      .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
      }
    </style>
    <script>
      angular
        .module("tutorial", ["elasticui", "ngMaterial"])
        .constant("euiHost", "https://biscicol.org/api/v1/query/") // cluster address
        .controller("myCtrl", [
          "$scope",
          "$http",
          function ($scope, $http) {
            $scope.selectedAttributes = [];
            $scope.disableDownload = true;
            $scope.clicked = function () {
              // Construct query string to download service like
              queryTerms = $scope.indexVM.filters.jsonObjects;
              queryString = "q=";
              termCounter = 0;

              if ($scope.indexVM.query) {
                queryString +=
                  '+scientificName:"' + $scope.indexVM.query.query() + '"';
                termCounter++;
              }

              for (var i = 0; i < queryTerms.length; i++) {
                var obj = JSON.parse(queryTerms[i]);

                for (var i = 0; i < queryTerms.length; i++) {
                  var obj = JSON.parse(queryTerms[i]);
                  for (var key in obj) {
                    Statement = obj[key];

                    for (var term in obj[key]) {
                      if (termCounter > 0) {
                        queryString += "++AND++";
                      }
                      value = Statement[term].toString().replace(/\s/g, "+");
                      queryString += "+" + term + ':"' + value + '"';
                      termCounter++;
                    }
                  }
                }
              }
              if (termCounter > 0) {
                $scope.message = false;
                queryStringRootURL =
                  "https://biscicol.org/futresapi/v3/download/_search?";
                downloadLink = queryStringRootURL + queryString + "&limit=100000";
                console.log("downloadLink = " + downloadLink);
                $scope.loading = true;

                $http({
                  method: "GET",
                  url: downloadLink,
                  keepJson: true,
                  responseType: "arraybuffer",
                }).then(
                  function successCallback(response) {
                    // here we know to expect a CSV/gzipped file so just name it here
                    var filename = "futres.zip";
                    var contentType = response.headers["content-type"];
                    var linkElement = document.createElement("a");
                    try {
                      var blob = new Blob([response.data], {
                        type: contentType,
                      });
                      var url = window.URL.createObjectURL(blob);

                      linkElement.setAttribute("href", url);

                      linkElement.setAttribute("download", filename);

                      var clickEvent = new MouseEvent("click", {
                        view: window,
                        bubbles: true,
                        cancelable: false,
                      });
                      linkElement.dispatchEvent(clickEvent);
                      $scope.loading = false;
                    } catch (ex) {
                      console.log(ex);
                    }
                  },
                  function errorCallback(response) {
                    console.log(response);
                  }
                );
              }
              if (termCounter == 0) {
                $scope.message = true;
              }
            };
          },
        ]);
    </script>
  </head>

  <body ng-app="tutorial" ng-controller="myCtrl" eui-index="'futres'">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3 sidebar">
          <h1>FuTRES Search</h1>
          <div>
            <button
              type="submit"
              ng-click="clicked()"
              class="btn btn-success"
              ng-disabled="loading"
            >
              Download
            </button>
            <div ng-show="loading">
              <md-progress-circular mode="indeterminate"></md-progress-circular>
            </div>
          </div>
	  <div>NOTE: There is a hard limit of 100,000 limits per download through this web interface.</div>
          <div ng-show="message">
            Select at least one filter condition before downloading
          </div>
          <div ng-show="loading">
            There is a hard limit of 100,000 records returned on downloaded results
	    through this interface.  To retrieve more results please contact the authors.
	    The download process may take several minutes depending on available
            bandwidth and number of records requested. The futres database needs
            to first package your request and then return the data to your
            browser. If you encounter issues downloading, try reducing the size
            of your query.
          </div>

          <h3>Search any name</h3>
          <eui-searchbox field="'scientificName'"></eui-searchbox>

          <h3>Traits</h3>
          <eui-singleselect
            field="'mapped_traits'"
            size="500"
          ></eui-singleselect>

          <h3>Lifestage</h3>
          <eui-singleselect field="'lifeStage'" size="10"></eui-singleselect>

          <h3>Genus</h3>
          <eui-singleselect field="'genus'" size="10"></eui-singleselect>

          <h3>Sex</h3>
          <eui-singleselect field="'sex'" size="10"></eui-singleselect>

          <h3>Country</h3>
          <eui-singleselect field="'country'" size="10"></eui-singleselect>

          <h3>Basis Of Record</h3>
          <eui-singleselect field="'basisOfRecord'" size="10"></eui-singleselect>

          <h3>Project</h3>
          <eui-singleselect
            field="'mapped_project'"
            size="10"
          ></eui-singleselect>

          <h3>Results Per Page</h3>
          <select ng-model="indexVM.pageSize">
            <option ng-repeat="item in [10, 15, 20, 50, 100]">{{item}}</option>
          </select>

          <p></p>
          <i
            >This site is currently in Beta and may change at any time without
            warning. Funding support from the the National Science Foundation.
            Infrastructure support from iDigBio and CyVerse. This site is made
            available for research purposes and the site developers make no
            warranty or guarrantee for data contents. Comments can be made by
            email to jdeck88@gmail.com</i
          >
        </div>
        <div class="col-xs-9 col-xs-offset-3 main">
          <h1>{{indexVM.results.aggregations.filtered_source_0.doc_count | number : fractionSiz}} Results</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ScientificName</th>
                <th scope="col">Trait</th>
                <th scope="col">Value</th>
                <th scope="col">Unit</th>
                <th scope="col">lifeStage</th>
                <th scope="col">YearCollected</th>
                <th scope="col">ProjectID</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="doc in indexVM.results.hits.hits">
                <td>{{doc._source.scientificName}}</td>
                <td>{{doc._source.measurementType}}</td>
                <td>{{doc._source.measurementValue}}</td>
                <td>{{doc._source.measurementUnit}}</td>
                <td>{{doc._source.lifeStage}}</td>
                <td>{{doc._source.yearCollected}}</td>
                <td>{{doc._source.projectID}}</td>
                <!--<td>
                            {{if ${doc._source.projectId} == 'Vertnet'}} 'Vertnet'
                            {{else}} <a href='https://geome-db.org/workbench/project-overview?projectId=${doc._source.projectID}' target=_blank>${doc._source.projectID}</a> 
                            {{/if}}
                        </td>-->
              </tr>
            </tbody>
          </table>

          <eui-simple-paging></eui-simple-paging>
        </div>
      </div>
    </div>
  </body>
</html>
